{%- extends "sumario/with-menubar.html" -%}

{%- block content -%}
<p class="title">
  {{ _("Edit relay") }}
</p>

{%- import "sumario/form.html" as form -%}

<div class="box">
  <div class="columns is-vcentered">
    <div class="column">
      <form method="POST" action="#">
        <div class="columns">
          <div class="column">
            {{ form.render_form(edit_relay_form) }}
          </div>
          <div class="column is-2">
            <div class="field is-fullwidth">
              <div class="control">
                {{ edit_relay_form.edit_buttons.update_relay }}
              </div>
            </div>
            <div class="field is-fullwidth">
              <div class="control">
                {{ edit_relay_form.edit_buttons.delete_relay }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p class="has-text-right">
  <a class="is-link" href="{{ url_for('dashboard.dashboard') }}">
    {{ _("Back to the dashboard") }}
  </a>
</p>
{% endblock %}
