{%- extends "sumario/with-menubar.html" -%}

{%- block sidebar -%}
<div class="box">
  <div class="block">
    <form method="POST" action="https://sumar.io/submission/51cd6faf-6943-4f4d-b3ad-2a87223f9476">
      <input class="is-hidden" name="Email" type="email" value="{{ current_user.email }}" readonly>
      <div class="field">
        <label class="label">
          {{ _("Message") }}
        </label>
        <p class="control">
          <textarea class="textarea" name="Message" type="text"></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="button is-primary is-fullwidth" type="submit" value="{{ _('Send us a message') }}">
        </p>
      </div>
    </form>
  </div>
  <div class="block">
    <p class="is-size-7">
      This form is powered by Sumario
    </p>
  </div>
</div>
{% endblock %}

{%- block content -%}
<div class="content">
  <div class="block">
    <p class="title">
      {{ _("Help") }}
    </p>
    <p class="subtitle">
      We're sorry you're having problems with Sumario. Below are some resources that
      we hope will be helpful.
    </p>
  </div>
  <div class="block">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CmQzqRfYX1I?si=_zIIVrFcEdIT6v1y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="block">
    <ul>
      <li>
        Email us at <a class="is-link" href="mailto:hello@sumar.io">hello@sumar.io</a>
      </li>
      <li>
        Join our <a class="is-link" href="https://gitlab.com/jstvsolutions/sumario">developer community on GitLab</a>
      </li>
      <li>
        Check out our <a class="is-link" href="https://www.youtube.com/channel/UCw2UG1gR2w8TXzi8kfedByw">YouTube Channel</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{%- block tail -%}
{{ super() }}

<script>
  addOnLoadFn(function() {
    selectTab("help-tab");
  });
</script>
{% endblock %}
