{%- extends "sumario/sumario.html" -%}

{%- block columns -%}
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="notification is-warning">
      <p>
        {% trans %}
        We're sorry but we cannot process this submission as the account owner
        has not paid their bills.
        {% endtrans %}
        <a id="referrer" class="is-link" href="{{ referrer|default('#', true) }}">
          {{ _("Back to the original website") }}</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
