{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
<div class="field">
  {% if field.type != 'HiddenField' and label_visible %}
  {% if not label %}{% set label=field.label.text %}{% endif %}
  <label for="{{ field.id }}" class="label">{{ label|safe }}</label>
  {% if field.errors %}
  {% for error in field.errors %}
  <p class="help is-danger">
    {{ error }}
  </p>
  {% endfor %}
  {% endif %}
  {% endif %}
  <p class="control">
    {{ field(class_='input', **kwargs) }}
  </p>
</div>
{%- endmacro %}

{% macro render_checkbox_field(field, label=None) -%}
{% if not label %}{% set label=field.label.text %}{% endif %}
<div class="field">
  <p class="control">
    <label class="checkbox">
      {{ field(type='checkbox', **kwargs) }} {{ label }}
    </label>
  </p>
</div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
{% for value, label, checked in field.iter_choices() %}
<div class="field">
  <p class="control">
    <label class="radio">
      <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
      {{ label }}
    </label>
  </p>
</div>
{% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
{% if not label %}{% set label=field.label.text %}{% endif %}
<div class="field">
  <p class="control">
    <input id="submit" class="button is-primary" type="submit" value="{{ label }}">
  </p>
</div>
{%- endmacro %}
