{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class="title">{{ _("Change Password") }}</h1>

{{ super() }}

<div class="box">
  <form method="POST" action="#">
    {{ form.hidden_tag() }}
    {{ render_field(form.old_password, type="password") }}
    {{ render_field(form.new_password, type="password") }}
    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password, type="password") }}
    {% endif %}
    {{ render_submit_field(form.submit, label=_("Change Password")) }}
  </form>
</div>

<p class="has-text-right">
  <a class="is-link" href="{{ url_for('dashboard.dashboard') }}">
    {{ _("Back to the Dashboard") }}</a>
</p>
{% endblock %}
