{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class="title">{{ _("Forgot Password") }}</h1>

{{ super() }}

<div class="box">
  <form method="POST" action="#">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, label=_("Your Email Address"), type="email") }}
    {{ render_submit_field(form.submit, label=_("Send Password Reset Instructions")) }}
  </form>
</div>

{% if user_manager.USER_ENABLE_REGSITER %}
<p class="has-text-right">
  <a class="is-link" href="{{ url_for('user.login') }}">
    {{ _("Sign in?") }}</a>
</p>
{% endif %}

{% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
<p class="has-text-right">
  <a class="is-link" href="{{ url_for('user.register') }}">
    {{ _("Create new account?") }}</a>
</p>
{% endif %}
{% endblock %}
