{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class="title">{{ _("Create New Account") }}</h1>

{{ super() }}

<div class="box">
  <form method="POST" action="#">
    {{ form.hidden_tag() }}

    {# Username or Email #}
    {% if user_manager.USER_ENABLE_USERNAME %}
    {{ render_field(form.username, type="text") }}
    {% endif %}

    {% if user_manager.USER_ENABLE_EMAIL %}
    {{ render_field(form.email, type="email") }}
    {% endif %}

    {{ render_field(form.password, type="password") }}

    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    {{ render_field(form.retype_password, type="password") }}
    {% endif %}

    {{ render_submit_field(form.submit, label=_("Create New Account")) }}
  </form>
</div>

{% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
<p class="has-text-right">
  <a class="is-link" href="{{ url_for('user.login') }}">
    {{ _("Already have an account?") }}</a>
</p>
{% endif %}
{% endblock %}
